

/*CSS FILE FOR PLAYER BACKGROUND COLORS ON THEIR PAGES*/
  .Bortles, #grad {
    background: linear-gradient(to right, #b49530d7 0%, #26a69a 100%);
    padding-top: 2em;
    padding-bottom: 2em;
    
  }
  
  .Carr {
    background: linear-gradient(to right, #9e9e9e 0%, #3e3c3bf5 100%);
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .Mayfield {
    background: linear-gradient(to right,  #ec7254 0%, #3e3c3bf5 100%);
    padding-top: 2em;
    padding-bottom: 2em;
  }
  
 
  
  
 